@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: white;
    font-family: Outfit;
}
nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #111111;
    padding-top: 20px;
    padding-left: 130px;
    padding-right: 130px;
    height: 80px;
    z-index: 100;
}
nav .items{
    display: flex;
    gap: 20px;
    text-transform: uppercase;
}
nav .items h4{
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
}
nav .items h4:hover{
    color: #0BA34D;

}
nav h1{
    font-size: 2.5vw;
}
nav button{
    cursor: pointer;
    font-size: 17px;
    padding: 10px 20px;
    font-weight: 300;
    border-radius: 20px;
    background-color: #0BA34D;
    color: white;
    border: none;
}
nav button img{
    margin-left: 10px;
    height: 15px;
}




.nav-bottom .bottom-div span:hover{
   color: white;
   opacity: 1;
   
}
.page1 {
    min-height: 100vh;
    background-color: #111111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.page1 h1 {
    font-weight: 900;
    font-size: 7vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.page1 .heading{
    margin-top: 200px;
}


.page1 h1 span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5vw;
    height: 5vw;
    margin-top: -1vw;
    vertical-align: middle;
    background-color: #0BA34D;
    border-radius: 50%;
    margin-left: -0.5vw;
}

span img {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.page1 p {
    margin-top: 20px;
    font-size: 1.3vw;
}

.page1 p span {
    color: #0BA34D;
}
.movingDiv{
    margin-top:  50px;
    
    display: flex;
   position: relative;
    width: 55%;
    white-space: nowrap;
    overflow: hidden;
}
.movingDiv .move{
    
   animation-name: movelogo;
   animation-duration: 7s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}

.movingDiv .move img{
     height: 33px;
     margin: 35px;
     filter: grayscale(200%) brightness(0.9) contrast(150%);
}
.blur-left{
    background: linear-gradient(to left,transparent,#111111);
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.blur-right{
    background: linear-gradient(to right,transparent,#111111);
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

@keyframes movelogo {
      0%{
        transform: translateX(0);
        
      }
      100%{
        transform: translateX(-100%);
        
      }
}

.videoSection{
    margin-top: 50px;
      
    position: relative;
    cursor: pointer;
    overflow: hidden;
    
}
.videoSection video{
    border: 3px solid white; 
    border-radius: 50px;  
    overflow: hidden;
}
.showReelImg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #008000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: auto; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    ransition: all 0.3s ease;
}
.showReelImg p{
    font-size: 18px;
    
    width: 80%;
}
.page2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 2vw 9vw;
    padding-top: 5vw;
    background-color: #111111;
    
}
hr{
    height: 1px;
    width: 82%;
    background-color: grey;
    border: none;
}

.page2-left{
    height: 100%;
    width: 40%;
}
.page2-right{
    height: 100%;
    width: 50%;
    
}
 .page2-left p:nth-child(1){
    margin-top: 50px;
    font-size: 22px;
    width: 52%;
    font-weight: 200;
 }
 .page2-left p:nth-child(2){
    font-size: 20px;
    margin-top: 450px;
    font-weight: 200;

 }
 .page2-right .first{
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 2vw 0vw;
 }
 .page2-right .first h4{
    width: 70%;
    font-size: 28px;
    font-weight: 400;
    font-weight: 300;
text-transform: capitalize;
cursor: pointer;
opacity: 0.7;

 }
 .page2-right .first p{
    margin-right: 50px;
    font-weight: 300;
    opacity: 0.7;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     transition: all 0.3s ease;
    }
 .page2-right .first img{
    border-radius: 50%;
    background-position: 220%;
    height: 100px;
    width: 100px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
 }
 .page2-right i{
    transition: all ease 0.5s;
    transform: rotate(45deg);
 }
 .first h4:hover{
    opacity: 0.9;
 }
 .first:hover p {
  color: #00ff6e; /* green text for <p> */
}
 .page2-right .first:hover p i {
   transform: rotate(-10.5deg) scale(1.5);
   color: #00ff6e;
 }

 p{
 text-transform: capitalize;
 }